.about
  .g-wrapper
    h3.about__heading О компании
    img.zzz(src="/images/zzz.svg")
    p.about__text Мы помогаем максимально #[span.about__text_bold раскрыть потенциал добычи нефти] на ваших месторождениях! Применяемые нами #[span.about__text_bold методы Data Mining и Big Data] – основы управления интеллектуальным месторождением
    p.about__text #[span.about__text_bold Данный подход позволяет] обобщить уже накопленный Ваш ценнейший опыт разработки и найти новые скрытые правила успешности, позволяющий коренным образом #[span.about__text_bold повысить результативность] мероприятий на десятки процентов!
    p.about__text.about__text_bold.about__text_line Наши методы позволяют увеличить уровень добычи от 20 до 150%!
    p.about__text.about__text_last #[span.about__text_bold Наша команда] состоит из опытных специалистов нефтегазовой отрасли, многие из которых имеют докторские степени и #[span.about__text_bold опыт более 30 лет]
    button.button: span Подробнее о компании
