.analysis
  .g-wrapper
    h3.analysis__heading Анализ входных параметров
    p.analysis__text.
      Проводим статистический #[span.analysis__text_bold анализ влияния входных параметров] на показатели успешности.
      Выделяем факторы, которые существенно влияют на эффективность ГТМ, получаем некоторые комплексные показатели
    .analysis__blocks
      .analysis__block
        .analysis__item.analysis__item_left
          .analysis__title Переутверждение замеров
          .analysis__number 01
        .analysis__item.analysis__item_left
          .analysis__title Распределение добычи и закачки по пластам
          .analysis__number 02
        .analysis__item.analysis__item_left
          .analysis__title Переутверждение замеров
          .analysis__number 03
        .analysis__item.analysis__item_left
          .analysis__title Расчет динамики пластового давления
          .analysis__number 04
        .analysis__item.analysis__item_left
          .analysis__title Определение причин потерь
          .analysis__number 05
      .analysis__block
        .analysis__wrapper#analysis-description
          .analysis__description
            .analysis__description-number 01
            .analysis__description-title Переутверждение замеров
            .analysis__description-text.
              Таким образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
              систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых
              заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
              Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании
              соответствующий условий активизации.
          .analysis__description
            .analysis__description-number 02
            .analysis__description-title Переутверждение замеров
            .analysis__description-text.
              Таким образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
              систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых
              заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
              Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании
              соответствующий условий активизации.
          .analysis__description
            .analysis__description-number 03
            .analysis__description-title Переутверждение замеров
            .analysis__description-text.
              Таким образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
              систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых
              заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
              Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании
              соответствующий условий активизации.
          .analysis__description
            .analysis__description-number 04
            .analysis__description-title Переутверждение замеров
            .analysis__description-text.
              Таким образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
              систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых
              заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
              Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании
              соответствующий условий активизации.
          .analysis__description
            .analysis__description-number 05
            .analysis__description-title Переутверждение замеров
            .analysis__description-text.
              Таким образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
              систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых
              заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
              Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании
              соответствующий условий активизации.
          .analysis__description
            .analysis__description-number 06
            .analysis__description-title Переутверждение замеров
            .analysis__description-text.
              Таким образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
              систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых
              заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
              Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании
              соответствующий условий активизации.
          .analysis__description
            .analysis__description-number 07
            .analysis__description-title Переутверждение замеров
            .analysis__description-text.
              Таким образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
              систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых
              заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
              Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании
              соответствующий условий активизации.
          .analysis__description
            .analysis__description-number 08
            .analysis__description-title Переутверждение замеров
            .analysis__description-text.
              Таким образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
              систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых
              заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
              Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании
              соответствующий условий активизации.
          .analysis__description
            .analysis__description-number 09
            .analysis__description-title Переутверждение замеров
            .analysis__description-text.
              Таким образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
              систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых
              заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
              Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании
              соответствующий условий активизации.
          .analysis__description
            .analysis__description-number 10
            .analysis__description-title Переутверждение замеров
            .analysis__description-text.
              Таким образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
              систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых
              заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
              Идейные соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании
              соответствующий условий активизации.
      .analysis__block
        .analysis__item.analysis__item_right
          .analysis__title Диагностика источника обводнения
          .analysis__number 06
        .analysis__item.analysis__item_right
          .analysis__title Определение режимов работы добывающих и нагнетательных скважин
          .analysis__number 07
        .analysis__item.analysis__item_right
          .analysis__title Построение карт ОННТ по пластам
          .analysis__number 08
        .analysis__item.analysis__item_right
          .analysis__title Подбор ГТМ на скважинах
          .analysis__number 09
        .analysis__item.analysis__item_right
          .analysis__title Определение новых точек для бурения
          .analysis__number 10
