.competence
  .competence__content
    .g-wrapper
      h3.heading.heading_white Наши компетенции
      img.zzz(src="/images/zzz.svg")
      .competence__blocks
        .competence__col
          img.competence__map(src="/images/map.svg")
          div
            p.competence__map-text.competence__map-text_blue 12 реализванных проектов
            p.competence__map-text.competence__map-text_red Более 1млн. тонн дополнительно добытой нефти
        .competence__col
          .gradient-block(data-number="01")
            .gradient-block__heading Формирование и оптимизация программы бурения и ГТМ
            .gradient-block__text
              .gradient-block__line
              | выбор наиболее успешных прогнозных точек и скважин для бурения;
            .gradient-block__text
              .gradient-block__line
              | подбор наиболее оптимальных ГТМ (ГРП, ОПЗ, ВПП и др.) для повышения добычи нефти.
        .competence__col
          .gradient-block(data-number="02")
            .gradient-block__heading Мониторинг и совершенствование системы разработки
            .gradient-block__text
              .gradient-block__line
              | выбор наиболее успешных прогнозных точек и скважин для бурения;
            .gradient-block__text
              .gradient-block__line
              | подбор наиболее оптимальных ГТМ (ГРП, ОПЗ, ВПП и др.) для повышения добычи нефти.
      .c-instruments
        .c-instruments__heading Наши инструменты:
        .c-instruments__blocks
          .c-instruments__block: .c-instruments__item нейронные сети
          .c-instruments__block: .c-instruments__item регрессионные модели
          .c-instruments__block: .c-instruments__item экспертные системы
          .c-instruments__block: .c-instruments__item деревьев решающих правил
          .c-instruments__block: .c-instruments__item нечеткая логика
          .c-instruments__block: .c-instruments__item бустинговые деревья
          .c-instruments__block: .c-instruments__item корреляционный анализ
          .c-instruments__block: .c-instruments__item тесты Вальда
          .c-instruments__block: .c-instruments__item оценка рисков и неопределенности
