.competence
  .competence__content
    .g-wrapper
      h3.competence__heading Наши компетенции
      img.competence__zzz(src="/images/zzz.svg")
      .competence__blocks
        .competence__col
          img.competence__map(src="/images/map.svg")
          p.competence__map-text.competence__map-text_blue 12 реализванных проектов
          p.competence__map-text.competence__map-text_red Более 1млн. тонн дополнительно добытой нефти
        .competence__col
        .competence__col
