.contacts-footer
  form.contacts-footer__form
    .g-wrapper
      .contacts-footer__form_title Проконсультируйтесь со специалистом
      .contacts-footer__form_header
        .contacts-footer__form_item
          input.contacts-footer__form_input(placeholder="Имя..." type="text" name="name" )
        .contacts-footer__form_item
          input.contacts-footer__form_input(placeholder="Телефон..." type="tel" name="tel")
      .contacts-footer__form_item.contacts-footer__form_item_last
          input.contacts-footer__form_input(placeholder="Ваше сообщение..." type="text" name="text")
      .contacts-footer__form_bottom
        button.button(type="submit"): span Отправить
  include ./_footer-nav.pug


