.contacts-footer
  form.contacts-footer__form
    .g-wrapper
      .contacts-footer__form_title Проконсультируйтесь со специалистом
      .contacts-footer__form_header
        .contacts-footer__form_item
          input.contacts-footer__form_input(placeholder="Имя...")
        .contacts-footer__form_item
          input.contacts-footer__form_input(placeholder="Телефон...")
      .contacts-footer__form_item.contacts-footer__form_item_last
          input.contacts-footer__form_input(placeholder="Ваше сообщение...")
      .contacts-footer__form_bottom
        button.button: span Отправить
  include ./_footer-nav.pug


