.contacts-footer
  form.contacts-footer__form
    .g-wrapper
      .contacts-footer__form_title Проконсультируйтесь со специалистом
      .contacts-footer__form_header
        .contacts-footer__form_item
          input.contacts-footer__form_input(placeholder="Имя...")
        .contacts-footer__form_item
          input.contacts-footer__form_input(placeholder="Телефон...")
      .contacts-footer__form_item.contacts-footer__form_item_last
          input.contacts-footer__form_input(placeholder="Ваше сообщение...")
      .contacts-footer__form_bottom
        button.button: span Отправить
  .g-wrapper
    .contacts-footer__nav
      a(href="").contacts-footer__nav_item Главная
      a(href="").contacts-footer__nav_item О компании
      a(href="").contacts-footer__nav_item Наши услуги
      a(href="").contacts-footer__nav_item Технологии
      a(href="").contacts-footer__nav_item Проекты
      a(href="").contacts-footer__nav_item Блог
      a(href="").contacts-footer__nav_item Контакты
    .contacts-footer__copyright <span>© 2017 Petro Lab.</span> Сайт  создан <a href="http://spacecode.ru/">SPACECODE</a>

