.g-wrapper
    .footer__nav
      a(href="").footer__nav_item Главная
      a(href="").footer__nav_item О компании
      a(href="").footer__nav_item Наши услуги
      a(href="").footer__nav_item Технологии
      a(href="").footer__nav_item Проекты
      a(href="").footer__nav_item Блог
      a(href="").footer__nav_item Контакты
    .footer__copyright <span>© 2017 Petro Lab.</span> Сайт  создан <a href="http://spacecode.ru/">SPACECODE</a>
