.g-wrapper
    .footer__nav
      a(href="/").footer__nav_item Главная
      a(href="/about-company.html").footer__nav_item О компании
      //a(href="").footer__nav_item Наши услуги
      a(href="/technology.html").footer__nav_item Технологии
      a(href="/projects.html").footer__nav_item Проекты
      a(href="/blog.html").footer__nav_item Блог
      a(href="/contacts.html").footer__nav_item Контакты
    .footer__copyright <span>© 2017 Petro Lab.</span> Сайт  создан <a href="http://spacecode.ru/">SPACECODE</a>
