.footer-map
  .g-wrapper
    .footer-map__content
      .footer-map__inform
        img.footer-map__logo(src="../images/logo-black.png")
        img.graph(src="../images/graph.svg")
        a(href="tel:+74954443455").contacts-map__item.contacts-map__item_tel.footer-map__item 8 (495) 444 34 55
        a(href="mailto:petrolab@info").contacts-map__item.footer-map__item petrolab@info
        .contacts-map__item.footer-map__item г. Москва, ул Орджоникидзе, д. 34к1, оф. 412
      .footer-map__location
        img(src="../images/mini-map.png").footer-map__image

