.gallery
  .gallery__previews
    img(src="../images/gallery-main.png" data-full="../images/gallery-1.png").gallery__prev.gallery__prev_active
    img(src="../images/gallery-2.png" data-full="../images/gallery-2.png").gallery__prev
    img(src="../images/gallery-3.png" data-full="../images/gallery-3.png").gallery__prev
    img(src="../images/gallery-4.png" data-full="../images/gallery-4.png").gallery__prev
  .gallery__main
    img(src="../images/gallery-main.png").gallery__full
