header.header(class=miniHeader?'header_mini':'')
  video.header__video(src="/images/video-bg.mp4" autoplay loop)
  .header__blackout
    .header__top
      a(href="/"): .header__logo: include ../../images/logo2.svg
      nav.menu
        a.menu__link.active(href="/") Главная
        a.menu__link(href="/about-company.html") О компании
        a.menu__link(href="#") Наши услуги
        a.menu__link(href="/technologies.html") Технологии
        a.menu__link(href="/projects.html") Проекты
        a.menu__link(href="/blog.html") Блог
        a.menu__link(href="/contacts.html") Контакты
      .header__contacts
        p.header__phone 8 (495) 555 66 44
        p.header__email petrolab@info.ru
    .g-wrapper
      .header__content
        h3.header__title Оптимизация геолого-технических мероприятий на основе <br /> нейросетей и BigData
        img.zzz(src="/images/zzz.svg")
        p.header__text Увеличение добычи и коэффициента извлечения нефти
