header.header
  video.header__video(src="/images/video-bg.mp4" autoplay loop)
  .header__top
    img.header__logo(src="/images/logo.png")
    .menu
    .header__contacts
      .header__phone 8 (495) 555 66 44
      .header__email petrolab@info.ru
