header.header
  video.header__video(src="/images/video-bg.mp4" autoplay loop)
  .header__blackout
    .header__top
      img.header__logo(src="/images/logo.png")
      nav.menu
        a.menu__link(href="#") Главная
        a.menu__link(href="#") О компании
        a.menu__link(href="#") Наши услуги
        a.menu__link(href="#") Технологии
        a.menu__link(href="#") Проекты
        a.menu__link(href="#") Блог
        a.menu__link(href="#") Контакты
      .header__contacts
        .header__phone 8 (495) 555 66 44
        .header__email petrolab@info.ru
