.hiw
  .g-wrapper
    .hiw__heading Как это работает?
    .hiw__blocks
      .hiw__block
        h4.hiw__number 01
        h3.hiw__subheading Обучение ИС PetroRobots
        p.hiw__description.
          Добывающая компания передает Petro Lab исходные данные ГИС и по истории разработки до определенного
          момента в прошлом. На основе этих данных мы строим оптимальную модель и обучаем нашу ИС
          PetroRobots, которая строит прогнозы добычи и определяет эффективность ГТМ.  На основе реальных данных
          подтверждаем точность прогнозирования ИС
        img.hiw__icon(src="./../../images/contract.svg")
        img.hiw__line(src="./../../images/line1.png")
      .hiw__block
        h4.hiw__number 02
        h3.hiw__subheading Оптимизация ГТМ
        p.hiw__description.
          На основе прогнозов, построенных нашей ИС PetroRobots, специалисты Petro Labs выделяют несколько наиболее
          перспективных программ планируемых ГТМ и МУН. Производится расчет дополнительной добычи нефти и экономическая
          оценка эффективности. Совместно с сотрудниками заказчика выбирается наиболее оптимальный из представленных вариантов
        img.hiw__icon(src="./../../images/networking.svg")
        img.hiw__line.hiw__line_second(src="./../../images/line2.png")
      .hiw__block
        h4.hiw__number 03
        h3.hiw__subheading Повышение уровня добычи
        p.hiw__description.
          После выбора оптимального варианта разработки формируется программа ГТМ и МУН на будущий год, а также прогноз добычи нефти.
           Исходя из нашего опыта работы по оптимизации и мониторинга разработки на 7-ми объектах, прогнозы нашей ИС
            оказывались точнее других методик и помогали формировать существенно более успешную программу ГТМ и МУН
        img.hiw__icon(src="./../../images/analytics.svg")
