.i-blog
  .g-wrapper
    h3.i-blog__heading Наш блог
    img.i-blog__zzz(src="/images/zzz.svg")
    .i-blog__slider
      .swiper-wrapper
        .swiper-slide
          .i-blog__slide
            img.i-blog__image(src="/images/ship.png")
            .i-blog__description
              .i-blog__date 03.12.2017
              .i-blog__title Добыча нефти
              .i-blog__sub-title Способы разработки месторождений нефти
              .i-blog__text.
                Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение
                происходит при условии, что в пласте давление выше, чем на забое скважины.В начальной стадии разработки
                нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
        .swiper-slide
          .i-blog__slide
            img.i-blog__image(src="/images/ship.png")
            .i-blog__description
              .i-blog__date 03.12.2017
              .i-blog__title Добыча нефти
              .i-blog__sub-title Способы разработки месторождений нефти
              .i-blog__text.
                Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение
                происходит при условии, что в пласте давление выше, чем на забое скважины.В начальной стадии разработки
                нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
        .swiper-slide
          .i-blog__slide
            img.i-blog__image(src="/images/ship.png")
            .i-blog__description
              .i-blog__date 03.12.2017
              .i-blog__title Добыча нефти
              .i-blog__sub-title Способы разработки месторождений нефти
              .i-blog__text.
                Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение
                происходит при условии, что в пласте давление выше, чем на забое скважины.В начальной стадии разработки
                нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
        .swiper-slide
          .i-blog__slide
            img.i-blog__image(src="/images/ship.png")
            .i-blog__description
              .i-blog__date 03.12.2017
              .i-blog__title Добыча нефти
              .i-blog__sub-title Способы разработки месторождений нефти
              .i-blog__text.
                Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение
                происходит при условии, что в пласте давление выше, чем на забое скважины.В начальной стадии разработки
                нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
        .swiper-slide
          .i-blog__slide
            img.i-blog__image(src="/images/ship.png")
            .i-blog__description
              .i-blog__date 03.12.2017
              .i-blog__title Добыча нефти
              .i-blog__sub-title Способы разработки месторождений нефти
              .i-blog__text.
                Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение
                происходит при условии, что в пласте давление выше, чем на забое скважины.В начальной стадии разработки
                нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
        .swiper-slide
          .i-blog__slide
            img.i-blog__image(src="/images/ship.png")
            .i-blog__description
              .i-blog__date 03.12.2017
              .i-blog__title Добыча нефти
              .i-blog__sub-title Способы разработки месторождений нефти
              .i-blog__text.
                Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение
                происходит при условии, что в пласте давление выше, чем на забое скважины.В начальной стадии разработки
                нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
    .i-blog__footer
      button.button
        span Перейти в блог
          img(src="./../../images/i-blog-right.png")
      .i-blog__arrows
        img.i-blog__left(src="/images/i-blog-left.png")
        img.i-blog__right(src="/images/i-blog-right.png")
