.i-methods
  .g-wrapper
    h3.i-methods__heading Наши методы уже помогли:
    img.zzz(src="/images/zzz.svg")
    .i-methods__images
      img.i-methods__image(src="./../../images/m1.png", alt="")
      img.i-methods__image(src="./../../images/m2.png", alt="")
      img.i-methods__image(src="./../../images/m3.png", alt="")
      img.i-methods__image(src="./../../images/m4.png", alt="")
      img.i-methods__image(src="./../../images/m5.png", alt="")
      img.i-methods__image(src="./../../images/m6.png", alt="")
      img.i-methods__image(src="./../../images/m7.png", alt="")
