section.contacts-map
  .g-wrapper
    .contacts-map__content
      .section__title Контакты
      img.graph(src="../images/graph.svg")
      .contacts-map__block
        img.contacts-map__map(src="../images/map.png")
    .contacts-map__bottom
      img(src='../images/logo-black.png').contacts-map__logo
      img.graph(src="../images/graph.svg")
      .contacts-map__inform
        a(href="tel:+74954443455").contacts-map__item.contacts-map__item_tel 8 (495) 444 34 55
        a(href="mailto:petrolab@info").contacts-map__item petrolab@info
        .contacts-map__item г. Москва, ул Орджоникидзе, д. 34к1, оф. 412
