section.contacts-map
  .g-wrapper
    .contacts-map__content
      .section__title Контакты
      img.graph(src="../images/graph.svg")
      .contacts-map__block
        img.contacts-map__map(src="../images/map.png")
