.m-menu
  a.m-menu__logo(href="/"): include ../../images/logo2.svg
  .m-menu__close: include ../../images/close.svg
  .m-menu__links
    a.m-menu__link(href="/") Главная
    a.m-menu__link(href="/") О компании
    a.m-menu__link(href="/") Наши услуги
    a.m-menu__link(href="/technologies.html") Технологии
    a.m-menu__link(href="/") Проекты
    a.m-menu__link(href="/") Блог
    a.m-menu__link(href="/") Контакты
