.results
  .g-wrapper
    h3.heading Результаты работы
    img.zzz(src="/images/zzz.svg")
    h4.results__sub-heading За 7 лет работы мы добились следующих результатов:
    .results__blocks
      .results__block
        img.results__logo(src="/images/lukoil.png")
        h5.results__title Месторождение:
        p.results__text Северные Бузачи
        h5.results__title Результаты:
        .results__results
          img.results__graph(src="/images/graph.png")
          p.results__upping Среднее повышение добычи нефти на
          p.results__proc 37%
          img.results__arrow(src="/images/arrow.svg")
        .results__footer
          p.results__description За выделенный промежуток времени дополнительно было добыто 36 тыс. тонн нефти.
          button.button.button_mini: span Подробнее
      .results__block
        img.results__logo(src="./../../images/gazprom.png")
        h5.results__title Месторождение:
        p.results__text Кукмоль
        h5.results__title Результаты:
        .results__results
          img.results__graph(src="/images/graph.png")
          p.results__upping Среднее повышение добычи нефти на
          p.results__proc 61%
          img.results__arrow(src="/images/arrow.svg")
        .results__footer
          p.results__description За выделенный промежуток времени дополнительно было добыто 36 тыс. тонн нефти.
          button.button.button_mini: span Подробнее
