.reviews
  .g-wrapper
    h3.reviews__heading Отзывы наших клиентов
    img.zzz(src="/images/zzz.svg")
    .reviews__slider
      .swiper-wrapper
        .swiper-slide
          .reviews__block
            .reviews__fullname Соляной Павел
            .reviews__line
            .reviews__wrapper
              .reviews__avatar(style="background-image: url('/images/cat1.jpg')")
              .reviews__position Генеральный директор
              .reviews__org “ЛукойлОверсиз”
              .reviews__review.
                В результате пилотного проекта, на выборке из более чем 100 скважин, наша ИС выявила
                наиболее подходящие для проведения ГРП. Благодаря нашей работе было дополнительно добыто 36 тыс. тонн нефти.
        .swiper-slide
          .reviews__block
            .reviews__fullname Лидия Васнецова
            .reviews__line
            .reviews__wrapper
              .reviews__avatar(style="background-image: url('/images/cat2.jpg')")
              .reviews__position Заместитель генерального директора
              .reviews__org “Газпромнефтегаз”
              .reviews__review.
                Повседневная практика показывает, что  развитие структуры обеспечивает широкому кругу  участие в формировании позиций, занимаемых
                участниками в отношении поставленных задач. Задача организации, в особенности же консультация с широким активом
                играет важную роль в формировании систем массового участия.
        .swiper-slide
          .reviews__block
            .reviews__fullname Соляной Павел
            .reviews__line
            .reviews__wrapper
              .reviews__avatar(style="background-image: url('/images/cat1.jpg')")
              .reviews__position Генеральный директор
              .reviews__org “ЛукойлОверсиз”
              .reviews__review.
                В результате пилотного проекта, на выборке из более чем 100 скважин, наша ИС выявила
                наиболее подходящие для проведения ГРП. Благодаря нашей работе было дополнительно добыто 36 тыс. тонн нефти.
        .swiper-slide
          .reviews__block
            .reviews__fullname Лидия Васнецова
            .reviews__line
            .reviews__wrapper
              .reviews__avatar(style="background-image: url('/images/cat2.jpg')")
              .reviews__position Заместитель генерального директора
              .reviews__org “Газпромнефтегаз”
              .reviews__review.
                Повседневная практика показывает, что  развитие структуры обеспечивает широкому кругу  участие в формировании позиций, занимаемых
                участниками в отношении поставленных задач. Задача организации, в особенности же консультация с широким активом
                играет важную роль в формировании систем массового участия.
        .swiper-slide
          .reviews__block
            .reviews__fullname Соляной Павел
            .reviews__line
            .reviews__wrapper
              .reviews__avatar(style="background-image: url('/images/cat1.jpg')")
              .reviews__position Генеральный директор
              .reviews__org “ЛукойлОверсиз”
              .reviews__review.
                В результате пилотного проекта, на выборке из более чем 100 скважин, наша ИС выявила
                наиболее подходящие для проведения ГРП. Благодаря нашей работе было дополнительно добыто 36 тыс. тонн нефти.
        .swiper-slide
          .reviews__block
            .reviews__fullname Лидия Васнецова
            .reviews__line
            .reviews__wrapper
              .reviews__avatar(style="background-image: url('/images/cat2.jpg')")
              .reviews__position Заместитель генерального директора
              .reviews__org “Газпромнефтегаз”
              .reviews__review.
                Повседневная практика показывает, что  развитие структуры обеспечивает широкому кругу  участие в формировании позиций, занимаемых
                участниками в отношении поставленных задач. Задача организации, в особенности же консультация с широким активом
                играет важную роль в формировании систем массового участия.
    .reviews__footer
      .reviews__arrows
        img.reviews__left(src="/images/review-left.png")
        img.reviews__right(src="/images/review-right.png")
