.stub
  .g-wrapper
    .stub__header
      .stub__col
        .stub__left
          img.stub__arrow(src="/images/arrow.svg")
          img.stub__diagram(src="/images/diagram.svg")
          .stub__description
            .stub__heading Увеличиваем эффективность добычи нефти в среднем на
            .stub__proc 32%
      .stub__col
        .stub__text Наши технологии рекомендует
        img.stub__icon(src="/images/rosnedra.png")
    .stub__footer
      button.button.button_blue: span Узнать подробнее
