.t-analytic
  .g-wrapper
    h2.t-analytic__heading Сбор данных
    p.t-analytic__text.
      Алгоритмы машинного обучения устроены так, что чем больше #[span.t-analytic__text_bold «обучающая выборка»],
      т.е. исходные данные для анализа, тем более точные прогнозы получаются на выходе.
      Поэтому нам очень важно собрать как можно больше исторических данных для
      #[span.t-analytic__text_bold обучения наших алгоритмов]. Если каких-либо данных нет, то наши специалисты проводят дополнительные
      мероприятия для их получения, либо же делают интерполяцию на основе статистических данных.
    h3.t-analytic__sub-heading Список данных для обучения ИС:
    ul.t-analytic__list
      li.t-analytic__item Динамика добычи нефти
      li.t-analytic__item Устьевые координаты
      li.t-analytic__item Исследование по телеметрии
      li.t-analytic__item Динамический уровень внутри скважины
      li.t-analytic__item Координаты пластопересечений
      li.t-analytic__item Сводная таблица ГТМ с их эффективностью
      li.t-analytic__item Объемы закачки в нагнетательные скважины
      li.t-analytic__item Качество цементного кольца скважины
      li.t-analytic__item Данные по сейсмике
      li.t-analytic__item Буферное давление
