.t-optimizations
  .g-wrapper
    .t-optimizations__heading Оптимизация ГТМ
    include ../../images/graphic_full.svg
    .t-optimizations__text Специалисты Petro Lab предлагают несколько вариантов повышения эффективности ГТМ. Совместно с заказчиком выбирается оптимальный и наиболее приемлимый вариант
