.technologies
  .g-wrapper
    .heading Технологии
    img.zzz(src="/images/zzz.svg")
    .technologies__text.
      PetroLab специализируется на поиске оптимальных решений для нефтегазовой отрасли,
      основываясь на #[span.technologies__text_bold технологичных методах машинного обучения и BigData]. Благодаря последним
      достижениям в области искусственного интеллекта и анализа больших объемов данных, наши
      специалисты могут находить скрытые связи и различные корреляции между параметрами ГТМ и
       их результативностью, а также моделировать различные комбинации
    .t-diagram
      img.t-diagram__image(src="/images/diagram-new.svg")
      .t-diagram__description
        p.t-diagram__upper Среднее повышение добычи нефти на
        p.t-diagram__proc 30%
        img.t-diagram__arrow(src="/images/arrow.svg")
