.technologies
  .g-wrapper
    .heading Технологии
    img.zzz(src="/images/zzz.svg")
    .technologies__text.
      PetroLab специализируется на поиске оптимальных решений для нефтегазовой отрасли,
      основываясь на #[span.technologies__text_bold технологичных методах машинного обучения и BigData]. Благодаря последним
      достижениям в области искусственного интеллекта и анализа больших объемов данных, наши
      специалисты могут находить скрытые связи и различные корреляции между параметрами ГТМ и
       их результативностью, а также моделировать различные комбинации
