extends layouts/_main.pug

block vars
  - const title = 'Блог Petro Lab'

block content
  include blocks/_header.pug
  section.blog
    .g-wrapper
      .section__title Наш блог
      img.graph(src="../images/graph.svg")
      .blog__content
        .blog__item

  include blocks/_footer.pug
