extends layouts/_main.pug

block vars
  - const title = 'Блог Petro Lab'

block content
  include blocks/_header.pug
  section.blog
    .g-wrapper
      .section__title Наш блог
      img.graph(src="../images/graph.svg")
      .blog__content
        .blog__item
          .blog__item_left
            img(src='../images/blog-image.png').blog__image
          .blog__item_right
            .blog__date 03.12.2017
            .blog__title Добыча нефти
            .blog__subtitle Способы разработки месторождений нефти
            .blog__descript Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение происходит при условии, что в пласте давление выше, чем на забое скважины. В начальной стадии разработки нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
            .blog__item_footer
              a(href="").button.blog__button: span Читать далее...
        .blog__item
          .blog__item_left
            img(src='../images/blog-image.png').blog__image
          .blog__item_right
            .blog__date 03.12.2017
            .blog__title Добыча нефти
            .blog__subtitle Способы разработки месторождений нефти
            .blog__descript Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение происходит при условии, что в пласте давление выше, чем на забое скважины. В начальной стадии разработки нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
            .blog__item_footer
              a(href="").button.blog__button: span Читать далее...
        .blog__item
          .blog__item_left
            img(src='../images/blog-image.png').blog__image
          .blog__item_right
            .blog__date 03.12.2017
            .blog__title Добыча нефти
            .blog__subtitle Способы разработки месторождений нефти
            .blog__descript Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение происходит при условии, что в пласте давление выше, чем на забое скважины. В начальной стадии разработки нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
            .blog__item_footer
              a(href="").button.blog__button: span Читать далее...
        .blog__item
          .blog__item_left
            img(src='../images/blog-image.png').blog__image
          .blog__item_right
            .blog__date 03.12.2017
            .blog__title Добыча нефти
            .blog__subtitle Способы разработки месторождений нефти
            .blog__descript Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение происходит при условии, что в пласте давление выше, чем на забое скважины. В начальной стадии разработки нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
            .blog__item_footer
              a(href="").button.blog__button: span Читать далее...
        .blog__item
          .blog__item_left
            img(src='../images/blog-image.png').blog__image
          .blog__item_right
            .blog__date 03.12.2017
            .blog__title Добыча нефти
            .blog__subtitle Способы разработки месторождений нефти
            .blog__descript Как известно, нефть двигается по пласту-коллектору к добывающей скважине под действием перепада давления. Движение происходит при условии, что в пласте давление выше, чем на забое скважины. В начальной стадии разработки нефтяного месторождения пластового давления, как правило, достаточно для обеспечения притока нефти к скважине....
            .blog__item_footer
              a(href="").button.blog__button: span Читать далее...

  include blocks/_footer.pug
