extends layouts/_main.pug

block vars
  - const title = 'Блог-детальная страница Petro Lab'

block content
  include blocks/_header.pug

  section.blog-detail
    .g-wrapper
      .section__title Наш блог
      img.graph(src="../images/graph.svg")
      .blog-detail__content
        img(src='../images/blog-full.png').blog-detail__image
        .blog-detail__inform
          .blog-detail__date 03.12.2017
          .blog-detail__title Добыча нефти
        .blog-detail__subtitle Способы разработки месторождений нефти
        .blog-detail__text В настоящее время в нефтедобывающей промышленности наблюдается медленное истощение запасов и все большая их часть приходится на труднодосягаемые месторождения. Сложность добычи в том, что они характеризуются высокой вязкостью нефти и шельфами морей. Анализ и эффективность применения горизонтальных скважин подтверждается запасами нефти, которые извлекаются в Западной Сибири и России, что примерно в общей сумме составляет 12 млрд. тонн. Применение горизонтальных технологий во много раз увеличивает эффективность разработки запасов. Они подразумевают процесс бурения и, собственно, сами горизонтальные скважины. Имеют наиболее значительную протяженную зону. При строительстве этих скважин используется зарубежное и российское оборудование, а главный показатель – эффективность. Максимально стараются использовать отечественное снаряжение, но в виду отсутствия некоторой необходимой продукции, приходится прибегать к покупке импортного. Несмотря на то, что строительство горизонтальных скважин затратнее на 10-15%, чем вертикальных, их применение имеет немало преимуществ: Гидравлический разрыв пласта (ГРП) – популярный метод, интенсивной добычи нефти при разработке низкопроницаемых коллекторов. Многостадийный ГРП в горизонтальных скважинах (МГРП) – последовательное выполнение гидроразрывов пласта в одной скважине. Оно позволяет повышать уровень рентабельности от добычи нефти, в то время как, ГРП в наклонно направленных скважинах не дает должного объёма рентабельности в разработке. МГРП делится на 2 вида: общая технология и технология применения пакерных компоновок. Продуктивность горизонтальных нефтяных скважин после ГРП значительно повышает уровень дополнительной добычи нефти и сокращает затраты на бурение. Основная идея проведения ГРП состоит в изменении геометрии участка горизонтального ствола скважины и организации благоприятных условий для следующего ГРП. Анализ и оценка целесообразности применения пластов. Для предварительной дегазации высокогазоносных угольных пластов бурение опережающих пластовых скважин – наиболее оптимальный способ понижения газовыделения в очистных забоях и промежуточных выработках угольных шахт. Подходящий диаметр дегазационных скважин равен 80 – 250 мм, а рациональная длина – от 5 до 250 м. скважин для заблаговременной дегазации угольных пластов. Обобщение условий применения и результативности использования горизонтальных скважин при разработке месторождений газа и нефти доказало, что нынешние технологии и специальное аппаратное обеспечение позволяют бурить скважины почти любой траектории с возможным люфтом не более 2м. Горизонтально разветвленные скважины по сравнению с вертикальными намного эффективнее. Использование таких скважин повышается при снижении мощности пласта и возрастании неоднородности его строения. Одна горизонтальная скважина способна заменить 5 вертикальных, а если учесть фактор неоднородности, то соотношение может быть 1:20.
  include blocks/_footer.pug
