extends layouts/_main.pug

block vars
  - const title = 'Petro Lab'

block content
  include blocks/_header.pug
  include blocks/_about.pug
  include blocks/_competence.pug
  include blocks/_stub.pug
  include blocks/_results.pug
  include blocks/_reviews.pug
