extends layouts/_main.pug

block vars
  - const title = 'Проекты Petro Lab'

block content
  include blocks/_header.pug
  section.projects
    .g-wrapper
      .projects__content
        .section__title Наши проекты
        img.graph(src="../images/graph.svg")
        .projects__items

          .projects__item
            .projects__right
              img(src="../images/project-1.png").projects__preview
            .projects__left
              .projects__header
                .projects__born
                  .projects__born_title Месторождение:
                  .projects__born_name Северные Бузачи
                img(src="../images/logo-lukoil.png").projects__logo
              .projects__header_after
                .projects__text (Всего в месторождении около 2000 скважин)
              .projects__inner
                .projects__block
                  .projects__subtitle.projects__subtitle_block Участок, на котором работаем:
                  .projects__text Участок из 278 добывающих и 97 нагнетательных скважин
                .projects__block
                  .projects__subtitle Годы работы: <span> 2009-2013 </span>
              .projects__middle
                .projects__born_title Результаты:
                .projects__cursive Качество прогнозной модели PetroRobot” :  <span>95%</span>
                .projects__diagram
                  .projects__diagram_left
                    img(src="../images/diagram.svg").projects__diagram_img
                    .projects__diagram_txt Среднее повышение добычи нефти на
                  .projects__diagram_right
                    .projects__diagram_percent 37%
                    .projects__diagram_arrow
                      include ../images/arrow.svg
              .projects__footer
                .projects__text За выделенный промежуток времени дополнительно было добыто <span>136 тыс. тонн нефти.</span>
                button.button.projects__button: span Подробнее

          .projects__item
            .projects__right
              img(src="../images/project-1.png").projects__preview
            .projects__left
              .projects__header
                .projects__born
                  .projects__born_title Месторождение:
                  .projects__born_name Северные Бузачи
                img(src="../images/logo-lukoil.png").projects__logo
              .projects__header_after
                .projects__text (Всего в месторождении около 2000 скважин)
              .projects__inner
                .projects__block
                  .projects__subtitle.projects__subtitle_block Участок, на котором работаем:
                  .projects__text Участок из 278 добывающих и 97 нагнетательных скважин
                .projects__block
                  .projects__subtitle Годы работы: <span> 2009-2013 </span>
              .projects__middle
                .projects__born_title Результаты:
                .projects__cursive Качество прогнозной модели PetroRobot” :  <span>95%</span>
                .projects__diagram
                  .projects__diagram_left
                    img(src="../images/diagram.svg").projects__diagram_img
                    .projects__diagram_txt Среднее повышение добычи нефти на
                  .projects__diagram_right
                    .projects__diagram_percent 37%
                    .projects__diagram_arrow
                      include ../images/arrow.svg
              .projects__footer
                .projects__text За выделенный промежуток времени дополнительно было добыто <span>136 тыс. тонн нефти.</span>
                button.button.projects__button: span Подробнее


          .projects__item
            .projects__right
              img(src="../images/project-1.png").projects__preview
            .projects__left
              .projects__header
                .projects__born
                  .projects__born_title Месторождение:
                  .projects__born_name Северные Бузачи
                img(src="../images/logo-lukoil.png").projects__logo
              .projects__header_after
                .projects__text (Всего в месторождении около 2000 скважин)
              .projects__inner
                .projects__block
                  .projects__subtitle.projects__subtitle_block Участок, на котором работаем:
                  .projects__text Участок из 278 добывающих и 97 нагнетательных скважин
                .projects__block
                  .projects__subtitle Годы работы: <span> 2009-2013 </span>
              .projects__middle
                .projects__born_title Результаты:
                .projects__cursive Качество прогнозной модели PetroRobot” :  <span>95%</span>
                .projects__diagram
                  .projects__diagram_left
                    img(src="../images/diagram.svg").projects__diagram_img
                    .projects__diagram_txt Среднее повышение добычи нефти на
                  .projects__diagram_right
                    .projects__diagram_percent 37%
                    .projects__diagram_arrow
                      include ../images/arrow.svg
              .projects__footer
                .projects__text За выделенный промежуток времени дополнительно было добыто <span>136 тыс. тонн нефти.</span>
                button.button.projects__button: span Подробнее

  include blocks/_footer.pug
