extends layouts/_main.pug

block vars
  - const title = 'Проект Petro Lab'

block content
  include blocks/_header.pug
  section.projects
    .g-wrapper
      .projects__content
        .section__title Кейс “ЛукойлОверсиз”
        img.graph(src="../images/graph.svg")
      .projects-detail__header
        .projects-detail__header_left
          img(src="../images/logo-lukoil.png").projects-detail__logo
          .projects-detail__element
            .projects-detail__element_title Заказчик:
            .projects-detail__element_text “ЛукойлОверсиз”
          .projects-detail__element
            .projects-detail__element_title Месторождение:
            .projects-detail__element_text Северные Бузачи
            .projects-detail__element_text (Всего в месторождении около 2000 скважин)
          .projects-detail__element
            .projects-detail__element_title Участок, на котором работаем:
            .projects-detail__element_text Участок из 278 добывающих и 97 нагнетательных скважин
        .projects-detail__header_right
          img(src="../images/project-1.png").projects-detail__preview


      .projects-detail__middle
        .projects-detail__middle_head
          .projects-detail__element_text <span> Прогнозы заказчика по добыче и стратегия проведения ГТМ </span>
          .projects-detail__element_text До нашего прихода в 2010 году были следующие прогнозы по добыче на 2011-2013г.
        table.projects-detail__table
          tr.projects-detail__table_tr
            th.projects-detail__table_th Год
            th.projects-detail__table_th 2009
            th.projects-detail__table_th 2010
            th.projects-detail__table_th 2011
            th.projects-detail__table_th 2012
            th.projects-detail__table_th 2013
          tr.projects-detail__table_tr
            td.projects-detail__table_td Кол-во скважин
            td.projects-detail__table_td 24+6
            td.projects-detail__table_td 225+46
            td.projects-detail__table_td 278+96
            td.projects-detail__table_td 278+96
            td.projects-detail__table_td 70+22
          tr.projects-detail__table_tr
            td.projects-detail__table_td Объем добычи
            td.projects-detail__table_td 60 тыс. тонн
            td.projects-detail__table_td 288 тыс. тонн
            td.projects-detail__table_td 595 тыс. тонн
            td.projects-detail__table_td 506 тыс. тонн
            td.projects-detail__table_td 83 тыс. тонн
        .projects-detail__middle_footer
          .projects-detail__element_text Заказчик планировал использовать закачку гелеполимерных систем и горячей воды

      .projects-detail__algoritms
        .projects-detail__algoritms_title Неявные закономерности, выявленные алгоритмами машинного обучения PetroRobot
        .projects-detail__algoritms_content
          .projects-detail__algoritms_left
            .projects-detail__element_text.projects-detail__element_text_marg Равным образом постоянный количественный рост и сфера нашей активности требуют от нас анализа новых предложений. Таким образом консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании направлений прогрессивного развития.
            .projects-detail__element_text.projects-detail__element_text_marg Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий требуют от нас анализа соответствующий условий активизации. С другой стороны рамки и место обучения кадров играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же укрепление и развитие структуры позволяет выполнять важные задания по разработке форм развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют от нас анализа систем массового участия. Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Товарищи! сложившаяся структура организации позволяет оценить значение соответствующий условий активизации.
          .projects-detail__algoritms_right
            .projects-detail__algoritms_el Выпускник МФТИ
            .projects-detail__algoritms_el Доктор наук
            .projects-detail__algoritms_el Лидер в области BigData и Машинного обучения
            .projects-detail__algoritms_el Написал 120 научных работ в области BigData

      .projects-detail__work
        .projects-detail__algoritms_title Наша работа, предложения и прогнозы
        .projects-detail__element_text.projects-detail__element_text_marg.projects-detail__element_text_lh Для скважин с низким темпом отбора нефти был использован системный подход и применена схема декомпозиции проблемы низкого темпа добычи нефти. Данная схема наглядно выявила участки с основными проблемами, показал их масштаб по количеству, а также по потерям добычи нефти
        .projects-detail__work_problems
          .projects-detail__element_text.projects-detail__element_text_marg.projects-detail__element_text_lh Далее по выявленным проблемам интеллектуальные системы прогнозирования назначили оптимальные и наиболее эффективные мероприятия:
          .projects-detail__work_elements
            .projects-detail__work_element Циклическая закачка
            .projects-detail__work_element Метод Фильтрационных потоков
      .projects-detail__forecast
        .projects-detail__middle_head
            .projects-detail__element_text <span> Наша система построила следующий прогноз  </span>
            .projects-detail__element_text (сравнение с изначальным планом и реальными данным):
        table.projects-detail__table
          tr.projects-detail__table_tr.projects-detail__table_tr_white
            th.projects-detail__table_th.projects-detail__table_th_black Год
            th.projects-detail__table_th.projects-detail__table_th_black 2009
            th.projects-detail__table_th.projects-detail__table_th_black 2010
            th.projects-detail__table_th.projects-detail__table_th_black 2011
            th.projects-detail__table_th.projects-detail__table_th_black 2012
            th.projects-detail__table_th.projects-detail__table_th_black 2013
          tr.projects-detail__table_tr.projects-detail__table_tr_odd
            td.projects-detail__table_td Первичный план
            td.projects-detail__table_td 60 тыс. тонн
            td.projects-detail__table_td 288 тыс. тонн
            td.projects-detail__table_td 545 тыс. тонн
            td.projects-detail__table_td 466 тыс. тонн
            td.projects-detail__table_td 83 тыс. тонн
          tr.projects-detail__table_tr
            td.projects-detail__table_td Прогноз нашей ИС
            td.projects-detail__table_td 87 тыс. тонн
            td.projects-detail__table_td 382 тыс. тонн
            td.projects-detail__table_td 660 тыс. тонн
            td.projects-detail__table_td 570 тыс. тонн
            td.projects-detail__table_td 101 тыс. тонн
          tr.projects-detail__table_tr.projects-detail__table_tr_odd
            td.projects-detail__table_td Реальные результаты
            td.projects-detail__table_td 89 тыс. тонн
            td.projects-detail__table_td 392 тыс. тонн
            td.projects-detail__table_td 638 тыс. тонн
            td.projects-detail__table_td 554 тыс. тонн
            td.projects-detail__table_td 104 тыс. тонн
          tr.projects-detail__table_tr.projects-detail__table_tr_white.projects-detail__table_tr_gradient
            th.projects-detail__table_th Увеличение эффект-ти
            th.projects-detail__table_th 49%
            th.projects-detail__table_th 36%
            th.projects-detail__table_th 17%
            th.projects-detail__table_th 19%
            th.projects-detail__table_th 26%

      .projects-detail__results
        .projects-detail__algoritms_title Результаты:
        .projects-detail__results_content
          .projects-detail__results_img
            img(src="../images/diagram.svg").projects-detail__results_diagram
          .projects-detail__results_arrow
            .projects-detail__results_text Среднее повышение добычи нефти на
            .projects-detail__results_percents 30%
            .projects-detail__results_svg
              include ../images/arrow.svg
          .projects-detail__results_about
            .projects-detail__element_text За выделенный промежуток времени дополнительно было добыто <span>341 тыс. тонн нефти</span>

      .projects-detail__notification
        .projects-detail__notification_title Petro Lab о проекте:
        .projects-detail__notification_text За 5 лет испытаний на зрелом месторождении с постоянно падающей добычей мы не просто остановили падение, мы получили рост суточной добычи и помогли нашему партнеру добыть 341 тыс. тонн нефти дополнительно. И это при условии выполнения только некапиталоемких мероприятий, или, иными словами, без нового бурения и ГРП
        .projects-detail__notification_author
          .projects-detail__notification_name Соляной Павел Николаевич
          .projects-detail__notification_post Генеральный директор

  .contacts-footer
    include blocks/_footer-feedback.pug
    include blocks/_footer-nav.pug


