extends layouts/_main.pug

block vars
  - const title = 'Технологии'
  - const miniHeader = true;

block content
  include blocks/_header.pug
  include blocks/_technologies.pug
  include blocks/_hiw.pug
  include blocks/_t-analytic.pug
  include blocks/_analysis.pug
  include blocks/_t-optimizations.pug
