@font-face {
  font-family: 'Arian AMU';
  src: url('/fonts/arianamu-regular.ttf');
  font-weight: 400
}


@font-face {
  font-family: 'Arian AMU';
  src: url('/fonts/arianamu-bold.ttf');
  font-weight: 700
}


@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/ptsans-regular.ttf');
  font-weight: 400
}


@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/ptsans-bold.ttf');
  font-weight: 700
}


