@import './_fonts.styl'
@import './_global.styl'

@import './blocks/_header.styl'
@import './blocks/_map-contacts.styl'
@import './blocks/_contacts-footer.styl'
@import './blocks/_footer-nav.styl'
@import './blocks/_about.styl'
@import './blocks/_competence.styl'
@import './blocks/_projects.styl'
@import './blocks/_footer-feedback.styl'
@import './blocks/_blog-detail.styl'
@import './blocks/_stub.styl'
