.blog-detail
  padding 5rem 0 37rem
  background-size contain
  background: url('../images/blog-top-bg.png') top center no-repeat, #FFFFFF  url('../images/contacts-bg.png') bottom center no-repeat;
  &__image
    display: block
    width 100%
    max-height: 50rem
    object-fit: cover
    border 8px solid black
    border-image: url(../../images/gradient-border.svg) 1;
    margin-bottom 2rem
  &__inform
    display flex
    justify-content: flex-start
    align-items: flex-start
    margin-bottom 2.4rem
  &__date
    color: #d1cece;
    font-family: "PT Sans";
    font-size: 2rem;
    font-weight: 400;
    margin-right 2.4rem
  &__title
    color: #d41e44;
    font-family: "Arian AMU";
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  &__subtitle
    color: #2e2e2e;
    font-family: "Arian AMU";
    font-size: 30px;
    font-weight: 700;
    margin-bottom 1rem
  &__text
    color: #2e2e2e;
    font-family: "PT Sans";
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom 3rem

@media (max-width:1000px)
  .blog-detail
    &__image
      max-height: 40rem
      border 6px solid black
    &__date
      font-size 1.8rem
    &__title
      font-size 1.8rem
    &__subtitle
      font-size 2.4rem
    &__text
      font-size 1.8rem
@media (max-width:667px)
  .blog-detail
    &__image
      max-height: 22rem
    &__inform
      display block
      margin-bottom 1.4rem
    &__date
      font-size 1.6rem
      margin-bottom 1rem
    &__title
      font-size 1.6rem
    &__subtitle
      font-size 1.8rem
    &__text
      font-size 1.6rem

