.competence
  background white url('./../../images/houses.png') top center/100% 37rem no-repeat;
  padding-top 37rem
  &__content
    background-color #2E2E2E
    margin-top -0.1rem
    overflow hidden
  &__heading
    color: #ffffff;
    font-family: "Arian AMU";
    font-size: 5.4rem;
    font-weight: 700;
  &__zzz
    height 3.1rem
    margin 2.6rem 0 5.6rem 0
  &__map
    width 90%
    margin-bottom 3.5rem
  &__map-text
    color: #ffffff;
    font-family: "Arian AMU";
    font-size: 1.8rem;
    font-weight: 400;
    position relative
    padding-left 1.2rem
    line-height 2.5rem
    margin-bottom 1rem
    &:last-child
      margin-bottom none
    &_blue, &_red
      &:before
        content: ''
        position absolute
        top 0
        left 0
        height 1.2rem
        width 6.2rem
        transform translateY(100%)
        z-index -1
    &_blue:before
      background-color #5272D7
    &_red:before
      background-color #C0354C
  &__blocks
    display flex
    justify-content space-between
    align-content center
    margin-bottom 9rem
  &__col
    width calc(100% / 3 - 1rem)
    flex 0 0 auto
    //- border 1px solid white
    z-index 1
    position relative


.gradient-block
  border 5px solid black;
  border-image url("./../../images/topleftborder.svg") 1;
  padding 3.2rem .8rem 4.6rem
  position relative
  &:before
    content: attr(data-number)
    position absolute
    top -3.8rem
    left -3.8rem
    color: #d41e44;
    font-family: "Arian AMU";
    font-size: 10rem;
    font-weight: 700;
    z-index -1
  &__heading
    color: #ffffff;
    font-family: "Arian AMU";
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom 3rem
  &__line
    display inline-block
    width 2rem
    height 1rem
    background-color #5272D7
    margin-right 1.2rem
    transform: translateY(-1px)
  &__text
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 2.4rem;
    font-weight: 400;

.c-instruments
  padding-bottom 28em
  &__heading
    color: #ffffff;
    font-family: "Arian AMU";
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom 1rem
  &__blocks
    display flex
    flex-wrap: wrap
    justify-content: space-between
  &__block
    flex 0 0 auto
    width: calc(100% / 3)
  &__item
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 2.4rem;
    font-weight: 400;
    white-space: nowrap
    &:before
      content: ''
      display inline-block
      width 1rem
      height 1rem
      background-color #C23548
      border-radius 50%
      margin-right 1rem

@media (max-width: 1600px)
  .competence
    background white url('./../../images/houses.png') top center/auto 37rem no-repeat;

@media (max-width: 1000px)
  .competence
    background white url('./../../images/houses.png') top center/auto 19.1rem no-repeat;
    padding-top 19.1rem
    &__heading
      font-size: 3.6rem;
    &__zzz
      margin 1.6rem 0 2rem 0
    &__blocks
      flex-wrap: wrap
      justify-content space-around
      margin-bottom 4.2rem
    &__map
      width 43.4%
      margin-right 5rem
    &__col
      width: calc(100% / 2 - 5rem)
      &:first-child
        width: 100%
        display flex
        align-items center
  .c-instruments
    padding-bottom 18.4rem
    &__block
      width: 50%

@media (max-width: 667px)
  .competence
    background white url('./../../images/houses.png') top center/auto 7.7rem no-repeat;
    padding-top 7.7rem
    &__heading
      font-size: 3rem;
    &__zzz
      height 2.6rem
      margin 1.6rem 0 .6rem 0
    &__blocks
      flex-wrap: wrap
      justify-content space-around
      margin-bottom 1rem
    &__map
      width 100%
      margin-right none
    &__map-text
      font-size: 1.6rem;
    &__col
      width: 100%
      margin-bottom 3rem
      &:first-child
        width: 100%
        display block

  .gradient-block
    padding 2.1rem 1.4rem 2.1rem
    &:before
      font-size: 7.2rem;
      left -1rem
    &__heading
      font-size: 1.8rem;
      margin-bottom 1.6rem
    &__text
      font-size: 1.6rem;

  .c-instruments
    padding-bottom 21.3rem
    &__heading
      font-size: 1.8rem;
    &__block
      width: 100%
    &__item
      font-size: 1.6rem;
      &:before
        height 0.6rem
        width 0.6rem
