.footer-feedback
  margin-bottom 6rem
  max-width: 77rem
  &__form
    &_title
      text-align: left
      margin-bottom 4rem
    &_header
      display flex
      justify-content: space-between
      align-items: center
      margin-bottom 5rem
    &_item
      &_last
        margin-bottom 5rem
    &_input
      width: 100%
      min-width: 32rem
      color: white
      padding 0 0.2rem 1rem
      font-family: "PT Sans";
      font-size: 2.4rem;
      border none
      background: transparent
      border-bottom 0.6rem solid white
  &__button span
    display: block
    padding 2rem 10rem
