.footer-map
    max-width: 136rem;
    width 100%
    margin: 0 auto;
    position: relative;
    background: white
    transform translateY(-10rem)

    &__content
      display flex
      justify-content: space-between
      align-items: flex-start
      padding 4.4rem 0 12rem 0
    &__logo
      display block
      margin-bottom 2rem
    &__item
      display: block
      margin-bottom 2rem
    &__inform
      width: 40%;
    &__location
      position: absolute
      right -16rem
      top -16rem
      width 100%
      max-width 89rem
      border 8px solid black
      border-image: url(../../images/gradient-border.svg) 1;
    &__image
      width 100%
      object-fit: cover
      vertical-align: bottom

@media (max-width:1710px)
  .footer-map
    &__location
      top -10rem
      right -10rem
      max-width 74rem
@media (max-width:1100px)
  .footer-map
    &__location
      top -4rem
      right -4rem
@media (max-width:1000px)
  .footer-map
    max-width: none
    width 90%
    &__content
      padding 3rem 0 5rem 1rem
    &__inform
      width 45%
    &__location
      max-width: 46.2rem
      top -7rem
      right -5rem

@media (max-width:960px)
  .footer-map
    &__inform
      width 40%
    &__location
      top -3rem
      right -3rem
@media (max-width:834px)
  .footer-map
    &__content
      padding 0rem 2.4rem 3rem
      flex-wrap: wrap
    &__inform
      width 100%
      order 1
    &__location
      max-width: none
      width 100%
      position: relative
      top 0
      left 0
      order 0
      margin-top: -20rem
      margin-bottom 1.4rem
@media (max-width:667px)
  .footer-map
    max-width: 37.4rem
    margin-bottom 5.4rem
    transform translateY(0rem)
    &__content
      padding 0 2.4rem 3rem
    &__logo
      width 100%
      max-width 16rem
      object-fit: contain
    &__location
      margin-top: -20rem
      height: 28rem
    &__image
      height: 100%
