.header
  position relative
  z-index 1
  overflow hidden
  &__video
    z-index -1
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    object-fit: cover
  &__blackout
    height 100%
    background: rgba(0,0,0,.4) url('/images/header-text.svg') right 80%/auto 80% no-repeat
  &__top
    display flex
    justify-content space-between
    align-items center
    padding 0 3.5rem
  &__logo svg
    height 5.5rem
    & path
      fill: white
  &__contacts
    text-align right
  &__phone
    font-family: 'PT Sans'
    font-weight: 700
    font-size: 3rem
    color white
    margin-bottom 0.7rem
  &__email
    font-family: 'PT Sans'
    font-weight: 400
    font-size: 2.6rem
    color white
  &__content
    padding 15rem 0 20rem 10rem
  &__title
    color: #ffffff;
    font-family: "Arian AMU";
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 7.4rem;
  &__text
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 3.4rem;
  &__zline
    height 3.2rem
    margin 3rem 0
  &_mini
    box-shadow: 0 0 1.6rem rgba(38, 38, 38, 0.11);
    & .g-wrapper
      display none
    & video
      display none
    & .header__blackout
      background white
    & .menu__link, & .header__phone, & .header__email
      color #2E2E2E
    & .menu:before
      background-color #2E2E2E
    & .menu__link:hover, & .menu__link.active
      background-color #C23548
      color: white
    & .header__logo path
      fill black

.menu
  display flex
  position relative
  &:before
    content: ''
    position absolute
    top 2rem
    left 0
    width 100%
    height .5rem
    background-color #fff
  &__link
    font-family: 'PT Sans'
    font-size: 2.6rem
    color white
    padding 4.6rem 2rem
    transition background-color .3s, color .3s;
    will-change: background-color, color
    &:hover, &.active
      background-color white
      color: black
      z-index 1

@media (max-width: 1000px)
  .menu
    display none
  .header
    &__contacts
      font-size: 2.4rem
    &__title
      font-size: 3.6rem
      line-height 4.5rem
    &__text
      font-size: 2.4rem
    &__top
      padding-top 2rem
      flex-direction: column
      align-items flex-end

@media (max-width: 667px)
  .header
    &__contacts
      display none
