.header
  height 100vh
  position relative
  z-index 1
  &__video
    z-index -1
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    object-fit: cover
  &__top
    display flex
    justify-content space-between
    align-items center
  &__logo
    height 5.5rem
  &__contacts
    text-align right
  &__phone
    font-family: 'PT Sans'
    font-weight: 700
    font-size: 3rem
    color white
    margin-bottom 0.7rem
  &__email
    font-family: 'PT Sans'
    font-weight: 400
    font-size: 2.6rem
    color white
