.hiw
  padding-bottom 6rem
  &__heading
    color: #d41e44;
    font-family: "Arian AMU";
    font-size: 3rem;
    font-weight: 700;
    margin-bottom 3rem
  &__blocks
    display flex
    justify-content space-between
  &__block
    position relative
    flex 0 0 auto
    width calc(100% / 3)
  &__number
    color: #f1f4fc;
    font-family: "Arian AMU";
    font-size: 14rem;
    font-weight: 700;
    padding-left 4.5rem
    line-height: 14rem;
  &__subheading
    color: #000000;
    font-family: "PT Sans";
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom 1rem
  &__description
    color: #000000;
    font-family: "PT Sans";
    font-size: 1.8rem;
    font-weight: 400;
    line-height 2.5rem
    padding-right 2.5rem
  &__icon
    height 8.6rem
    position absolute
    top 2.3rem
    left 0
  &__line
    position absolute
    top 3rem
    right 0
    width 48%
    &_second
      top 6rem

@media (max-width: 1000px)
  .hiw
    padding-bottom 0
    &__blocks
      flex-wrap: wrap
    &__block
      width: 50%
      margin-bottom 3rem

@media (max-width: 667px)
  .hiw
    padding-bottom 0
    &__block
      width 100%
      margin-bottom 2rem
    &__heading
      font-size: 1.6rem;
    &__number
      font-size: 10rem
      line-height 10rem
    &__description
      font-size: 1.6rem
    &__icon
      height 6.6rem
      top 0
    &__line
      top 2rem
      &_second
        top 4rem
