.i-methods
  padding-top 8rem
  padding-bottom 30rem
  &__heading
    color: #2e2e2e;
    font-family: "Arian AMU";
    font-size: 5.4rem;
    font-weight: 700;
  &__images
    display flex
    flex-wrap: wrap
    justify-content space-between
    align-items center
  &__image
    flex 0 0 auto
    width 35rem
    margin-bottom 7rem
    &:nth-child(n+4)
      width 20rem

@media (max-width: 1000px)
  .i-methods
    &__image
      width 20rem
      &:nth-child(n+4)
        width 16rem

@media (max-width: 667px)
  .i-methods
    padding-bottom 10rem
    &__image
      width 13rem
      margin-bottom 2rem
      &:nth-child(n+3)
        width 8rem
