.contacts-map
  padding 5rem 0 26rem
  background  #FFFFFF url('../images/contacts-bg.png') bottom center no-repeat
  background-size contain
  &__content
    margin-bottom 4.8rem
  &__block
    border 1.4rem solid #933F6E
    border-image: url(../../images/gradient-border.svg) 1;
  &__map
    width 100%
    object-fit: cover
    vertical-align: bottom
  &__logo
    display block
    margin-bottom 2rem
  &__inform
    display flex
    justify-content: space-between
    align-items: center
  &__item
    color: #2e2e2e;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
    padding-left 3rem
    position relative
    &_tel
      font-size: 30px;
    &:before
      content ""
      left 0
      top 1.6rem
      width 2rem
      height: 0.6rem
      position absolute
      background-color #d41e44

@media (max-width:1440px)
  .contacts-map
    &__item
      &:before
        top: 2.2rem;
@media (max-width:1280px)
  .contacts-map
    &__inform
      display block
    &__item
      display block
      margin-bottom 1rem
      &:before
        top: 16px;
  .graph
    margin-bottom 2rem
@media (max-width:667px)
  .contacts-map
    &__map
      height: 40rem
    &__logo
      width: 100%;
      max-width: 16rem;
    &__item
      font-size 1.6rem
      &:before
        top 8px




