.projects
  padding 5rem 0 37rem
  background-size contain
  background: url('../images/blog-top-bg.png') top center no-repeat, #FFFFFF  url('../images/contacts-bg.png') bottom center no-repeat;
  &__item
    display flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom 4.4rem
  &__left
    width 46%
    padding 3rem 4rem 3rem 3rem
    background: white
    order 0
  &__right
    width 48%
    border 10px solid black
    order 1
  &__header
    display flex
    justify-content: space-between
    align-items: flex-start
    &_after
      margin-bottom 1.4rem
  &__block
    margin-bottom 1.4rem
  &__logo
    max-width: 20rem
    width 100%
    object-fit: contain
  &__born
    &_title
      font-family: "PT Sans";
      font-size: 2.4rem;
      color: #d41e44;
      font-weight: 700;
      font-style: italic;
    &_name
      font-family: "PT Sans";
      font-size: 2.4rem;
      font-weight: 400;
  &__text
    color: #2e2e2e;
    font-family: "PT Sans";
    font-size: 1.8rem;
    font-weight: 400;
    & span
      font-weight: 700;
  &__subtitle
    color: #2e2e2e;
    font-family: "PT Sans";
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
    & span
      font-weight: 400;
  &__cursive
    color: #2e2e2e;
    font-family: "PT Sans";
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0.6rem;
    & span
      color: #4a73de;
      font-size: 2.4rem;
  &__diagram
    display flex
    justify-content: space-between
    align-items: center
    margin-bottom 2.8rem
    &_left
      display flex
      justify-content: space-between
      align-items: center
    &_right
      position: relative
    &_img
      width 7.4rem
      margin-right 1rem
    &_txt
      color: #2e2e2e;
      font-family: "PT Sans";
      font-size: 2.4rem;
      font-weight: 400;
    &_percent
      color: #4872de;
      font-family: "Arian AMU";
      font-size: 48px;
      font-weight: 700;
      line-height: 44px;
      position: relative
      z-index: 1
    &_arrow
      position: absolute
      left -2rem
      top -3rem
      transform: rotate(-10deg);
      & svg
        width 14rem
        height 10rem
      & path
        fill black
  &__footer
    display flex
    justify-content: space-between
    align-items: center
  &__button span
    font-size 2rem
  &__preview
    width 100%
    object-fit: cover

@media (max-width:1024px)
  .projects
    &__logo
      max-width 13rem
    &__left
      padding 1rem 1rem
      width 50%
    &__preview
      height: 47rem
@media (max-width:667px)
  .projects
    &__item
      display block
      margin-bottom 7rem
    &__left
      width 100%
      padding 0
    &__right
      width 100%
      margin-bottom 2rem
    &__preview
      height: 25rem
    &__header
      display block
    &__born
      &_title
        font-size 1.8rem
      &_name
        margin-bottom 1rem
        font-size 1.8rem
    &__text
      font-size 1.6rem
    &__subtitle
      font-size 1.8rem
    &__diagram
      &_txt
        font-size 1.8rem
      &_percent
        font-size 3.6rem
      &_arrow
        top -2rem
        & svg
          width 10rem
          height 8rem
    &__logo
      margin-bottom 1rem
    &__footer
      display block
    &__button span
      display block
      padding 1rem 3rem
