.reviews
  &__heading
    color: #000000;
    font-family: "Arian AMU";
    font-size: 5.4rem;
    font-weight: 700;
  &__slider
    position relative
    z-index 1
    margin-bottom 4rem
  &__block
    padding-top 5.5rem
  &__wrapper
    position relative
    padding 1.6rem 2.2rem 3rem
    box-shadow: 0 0 5.9rem rgba(57, 60, 60, 0.18);
  &__fullname
    color: #2e2e2e;
    font-family: "Arian AMU";
    font-size: 3rem;
    font-weight: 700
    padding-left 15rem
  &__line
    width 100%
    height 0.6rem
    background-image linear-gradient(to right, #5C68C3, #C63545)
  &__avatar
    position absolute
    top 0
    left 0
    transform: translate(-16%, -50%)
    height 16rem
    width 16rem
    border-radius 50%
    background-size: cover
    background-position: center center
    background-repeat no-repeat
  &__position, &__org
    color: #d41e44;
    font-family: "Arian AMU";
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
    text-align center
  &__position
    margin-bottom 0.3rem
  &__org
    font-size: 2.6rem
    margin-bottom 1.8em
  &__review
    color: #2e2e2e;
    font-family: "PT Sans";
    font-size: 2.4rem;
    font-style: italic;
    text-align justify
  & .swiper-slide
    transition: opacity .3s;
  & .swiper-slide-prev, & .swiper-slide-next + .swiper-slide
    opacity 0.3
  &__footer
    text-align right
  &__arrows
    display inline-block
    padding 1.4rem 2.3rem
    background-image linear-gradient(to bottom, #CE353C, #5A6CC8)
  &__left
    margin-right 7rem
  &__left, &__right
    transform: translateY(3px)
    cursor pointer
    &.swiper-button-disabled
      opacity 0.3

@media (max-width: 1000px)
  .reviews
    &__heading
      font-size: 3.6rem;
    &__fullname
      font-size: 2.4rem;
      padding-left 10rem
    &__wrapper
      padding-top .8rem
    &__position
      font-size: 1.4rem;
      text-align right
      margin 0 0 .3rem 0
    &__org
      font-size: 2rem
      text-align right
      margin-bottom .8rem
    &__avatar
      height 10rem
      width 10rem
    &__review
      font-size: 1.8rem;
    & .swiper-slide
      padding 0 1rem

@media (max-width: 667px)
  .reviews
    &__heading
      font-size: 3rem
    &__fullname
      font-size: 1.8rem;
      padding-left 10rem
    &__wrapper
      padding-top .8rem
    &__position
      font-size: 1.4rem;
      text-align right
      margin 0 0 .3rem 0
      padding-left 3rem
    &__org
      font-size: 2rem
      text-align right
      margin-bottom .8rem
    &__avatar
      height 10rem
      width 10rem
    &__review
      font-size: 1.6rem;
    & .swiper-slide
      padding 0
    & .swiper-slide-next, & .swiper-slide-prev
      opacity 0
    &__footer
      text-align center
    &__arrows
      padding 0.8rem 1.8rem
    &__left, &__right
      height 3rem
    &__left
      margin-right 5rem
