.stub
  width 141rem
  margin 0 auto
  position relative
  height 0
  &__content
    position absolute
    top 0
    left 0
    display inline-block
    position relative
    background-color #fff
    width 100%
    padding 8rem 0
    transform: translateY(-50%)
    box-shadow: 0 0 5.9rem rgba(57, 60, 60, 0.18);
    &:before
      content: ''
      position absolute
      top 50%
      left 50%
      width: 107.80141844%
      height: 84.4660194175%
      border: 0.6rem solid #4872de;
      transform: translate(-50%,-50%)
  &__header
    display flex
    justify-content space-between
  &__col
    flex 0 0 auto
    &:first-child
      width: 58%
      display flex
      align-items center
    &:last-child
      padding-top 1rem
      text-align center
  &__graph
    width 21.6rem
    transform: translateX(-10%)
  &__graph-info
    position relative
  &__arrow
    position absolute
    top 0
    right 20%
    height 100%
    opacity 0.1
  &__heading
    color: #000000;
    font-family: "PT Sans";
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.4rem;
  &__proc
    color: #4872de;
    font-family: "Arian AMU";
    font-size: 7.2rem;
    font-weight: 700;
  &__right-heading
    color: #000000;
    font-family: "PT Sans";
    font-size: 3rem;
    font-weight: 400;
    margin-bottom 3rem
  &__footer
    text-align right

@media (max-width: 1000px)
  .stub
    width 76.8rem
    &__content
      padding 5rem 1rem
    &__graph
      width 13.7rem
    &__heading
      font-size: 1.8rem;
      line-height 2.4rem
    &__proc
      font-size: 4.8rem;
    &__right-heading
      font-size: 1.8rem;
    &__logo
      height 7rem

@media (max-width: 667px)
  .stub
    width 32rem
    &__graph
      width 8.3rem
    &__heading
      font-size: 1.8rem;
      line-height 2.4rem
    &__arrow
      right 0
    &__header
      display block
    &__col, &__col:first-child
      width 100%
    &__logo
      height 5rem
    &__right-heading
      margin-bottom 1rem
      margin-top 3rem
    &__footer
      margin 2rem 0
      text-align center
