body
  background-color black

.stub
  width 141rem
  margin 0 auto
  &__content
    display inline-block
    position relative
    background-color #fff
    width 100%
    padding 8rem 0
    &:before
      content: ''
      position absolute
      top 50%
      left 50%
      width: 107.80141844%
      height: 84.4660194175%
      border: 0.6rem solid #4872de;
      transform: translate(-50%,-50%)
  &__header
    display flex
    justify-content space-between
  &__col
    flex 0 0 auto
    &:first-child
      width: 58%
      display flex
      align-items center
    &:last-child
      padding-top 1rem
      text-align center
  &__graph
    width 21.6rem
    transform: translateX(-10%)
  &__graph-info
    position relative
  &__arrow
    position absolute
    top 0
    right 20%
    height 100%
    opacity 0.1
  &__heading
    color: #000000;
    font-family: "PT Sans";
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.4rem;
  &__proc
    color: #4872de;
    font-family: "Arian AMU";
    font-size: 7.2rem;
    font-weight: 700;
  &__right-heading
    color: #000000;
    font-family: "PT Sans";
    font-size: 3rem;
    font-weight: 400;
    margin-bottom 3rem
  &__footer
    text-align right
