.technologies
  background: url('/images/blog-top-bg.png') center -10rem/auto no-repeat
  padding-top 3rem
  &__text
    color: #2e2e2e;
    font-family: "PT Sans";
    font-size: 2.4rem;
    font-weight: 400;
    &_bold
      font-weight: 700;

.t-diagram
  width 58rem
  display flex
  align-items center
  padding 4rem 0
  position relative
  z-index 1
  &__image
    height 100%
  &__description
    padding-left 5rem
  &__upper
    color: #2e2e2e;
    font-family: "PT Sans";
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.654rem;
  &__proc
    color: #4872de;
    font-family: "Arian AMU";
    font-size: 7.2rem;
    font-weight: 700;
  &__arrow
    position absolute
    top 50%
    right 0
    z-index -1
    transform: translateY(-50%)
    width 50%
    opacity 0.08
